services:
  - type: web
    name: todo-backend
    env: node
    branch: main
    plan: free
    root: proyecto/backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
